.auth-form {
  /* max-width: 700px; */
  margin: 60px auto;
  width: 450px;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #00ffb3;
  box-shadow: 10px 10px grey;
  border-radius: 5px;
  color: white;
  text-align: left;
  /* box-shadow: 10px 10px 5px grey; */
}
